<html lang="en">
    <head>
        <title>Menu</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Restaurant Menu!</h1>
            <h2>Here is the menu for: <%= restaurantName %>, featuring <%= randomCuisine %> food!</h2>
            <ul>
                <% randomMenu.forEach((item)=> { %>
                    <li>
                        <p>
                            Item: <%= item.name %>
                        </p>
                        <p>
                            Description: <%= item.description %>
                        </p>
                        <p>
                            Price: <%= item.price %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
            <a href="/">Return to Homepage</a>
            <a href="menualerts.ejs">Menu Alerts</a>
        </main>
    </body>
</html>